{{/* Get site logo. */}}
{{ $show_logo := site.Params.header.navbar.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

{{if $show_logo}}
      <div class="d-none d-lg-inline-flex">
        <a class="navbar-brand" href="{{ "/" | relLangURL }}">
          {{- if $has_logo -}}
            <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
            align="left"
            height=1500px>

            <a href="https://clustrmaps.com/site/1bos1"  title="Visit tracker">
              <img src="//www.clustrmaps.com/map_v2.png?d=Cd70JIc3h7Fo3F3ibTI9FT91aT3GQ69IX0fSEEmg-IU&cl=ffffff" 
              align="right"
              height=1500px>
            </a>
          {{- end -}}
        </a>
      </div>
{{end}}


<p class="powered-by copyright-license-text">
{{ with .GitInfo }}
  Last Updated on: {{ .CommitDate.Format "2006-01-02 15:26"}}</p>
{{- end }}
</p>