{{/* Get site logo. */}}
{{ $show_logo := site.Params.header.navbar.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

{{if $show_logo}}
      <div class="d-none d-lg-inline-flex">
        <a class="navbar-brand" href="{{ "/" | relLangURL }}">
          {{- if $has_logo -}}
            <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
            width=22px
            height=22px>
            <a href="https://clustrmaps.com/site/1bos1"  title="Visit tracker">
              <img src="//www.clustrmaps.com/map_v2.png?d=Cd70JIc3h7Fo3F3ibTI9FT91aT3GQ69IX0fSEEmg-IU&cl=ffffff" 
              width=26px
              height=22px>
            </a>
          {{- else -}}
            {{- site.Title -}}
          {{- end -}}
        </a>
      </div>
{{end}}


Last Update:
<time datetime="{{ .Page.Lastmod.Format "Mon Jan 10 17:13:38 2020 -0700" }}" class="text-muted">
  {{ $.Page.Lastmod.Format "January 02, 2006" }}
</time>