{{/* Get site logo. */}}
{{ $show_logo := site.Params.header.navbar.show_logo | default true }}
{{ $has_logo := fileExists "assets/media/logo.png" | or (fileExists "assets/media/logo.svg") }}
{{ $logo := "" }}
{{ if $has_logo }}
  {{ $logo = (partial "functions/get_logo" (dict "constraint" "max_height" "size" 70)) }}
{{ end }}

{{if $show_logo}}
      <div class="d-none d-lg-inline-flex">
        <a class="navbar-brand" href="{{ "/" | relLangURL }}">
          {{- if $has_logo -}}
            <img src="{{ $logo.RelPermalink }}" alt="{{ site.Title }}"
            width=22px
            height=22px>
          {{- else -}}
            {{- site.Title -}}
          {{- end -}}
        </a>
      </div>
{{end}}